.registerHero {
    background-image: url("../../assets/cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  .registerForm {
    width: 100%;
    background-image: url("../../assets/form.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  